.user {
  display: flex;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;

  &:nth-child(even) {
    background: lightgray;
  }

  p:first-child {
    margin-right: 10px;
  }
}

.error {
  background: lightcoral !important;
}
